  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

    
  }

  body{
    font-family: 'Poppins';
    font-size: 25px #2D2A2A;
    font-weight: 400;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 5vh;
    }
    

img{
    display: block;
    width: 20vh;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

form {
    text-align: center;
    line-height: 5vh;
    padding: 3px;

}

li {
    list-style-type: none;
}


@media screen and (min-width: 700px){
body{
    margin-right: 20%;
    margin-left:20%;
}
   
img {
    height: 25%;
    }
}